
//colors
$blue1: hsl(213, 96%, 18%);
$blue2: hsl(243, 100%, 62%);
$blue3: hsl(228, 100%, 84%);
$blue4: hsl(206, 94%, 87%);
$red: hsl(354, 84%, 57%);

//Neutral colors
$gray: hsl(231, 11%, 63%);
$gray2: hsl(229, 24%, 87%);
$white: hsl(217, 100%, 97%);
$white2: hsl(231, 100%, 99%);
$white3: hsl(0, 0%, 100%);

//font
$family: "Ubuntu", sans-serif;
$fontSize: 16px;

$fontLight: 300;
$fontRegular: 400;
$fontSemiBold: 500;
$fontBold: 600;

